.projects{

    display: flex;
    justify-content: center;
}

.project-container{

    display: inline-flex;
    justify-content: center;
    width: 1220px;
    flex-direction: column;

    .project-box {
        display: inline-flex;
        justify-content: center;
        flex-direction: row;
        padding: 33px 35px;
    }

    .project-label {
        color: #69359f;
    }

    .project-title {
        font-size: 29px;
        padding: 0px 0px 26px 1px;
    }

    .projects-des-box {
        font-family: "Plus Jakarta Sans";
        font-size: 18px;
        line-height: 29px;
        padding: 28px;
        background: linear-gradient(to right , #693B9329 , #6EBFF41F, #4690D429);
        border-radius: 14px;
        margin-right: -18px;
    }
    .projects {
        border-radius: 14px;
        width: 551px;
        height: auto;
        z-index: 1;
    }

    .project-info2 {
        text-align: end;
    }
    .projects-des-box2 {
        margin-left: -12px;
    }
}

//Media Query for Tablet

@media all and (min-width:50px) and (max-width:1149px){
    .project-container .projects {
        width: 472px;

    }
    .project-container .projects-des-box {
        font-size: 16px;
        line-height: 27px;

    }

    @media all and (min-width:50px) and (max-width:859px){
        .project-container .projects {
            width: 391px;
        }
    }

    @media all and (min-width:50px) and (max-width:784px){
        .project-container .project-box {

            flex-direction: column;
        }

        .project-container .projects {
            width: 100%;
            margin-top: 34px;
            margin-left: 8px;
        }
    }
}