// Background Color
    $bgcolor : #11071F;
    $headerbgcolor :#1A0B2E;

//Width
    $width1220px : 1220px;
    $font-size : 50px;

//Color
    $whitecolor : #FFFFFF;    
    $colortransparent : transparent;
    $purplecolor :  #7127BA;

//Button Color
    $buttoncolor : #2C1250;    